
body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: 'Open Sans', sans-serif;
}
.navbar{
	background:#654321;
}
.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}
.navbar-brand1{
	color: #f4f4f4;
	margin-left: 20px;
}	
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	background: #f4f4f4;
	color: #654321;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

/*header style*/
.header{
	position: relative;
	background-image: url('../images/headerback.jpg');

	background-size: cover;
	background-position: center;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.79);
}
.description{
    position: absolute;
    top: 10%;
    margin: auto;
    padding: 2em;

}
.description1{
    position: absolute;
    top: 200%;
    margin: auto;
    padding: 2em;
}	
.description h1{
	color:#F654321 ;
}
.description p{
	color:#666;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	border:1px  solid #654321;
	background:#654321;
	color:#fff;
}
.about{
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.about h1{
	color:#654321;
	margin: 2em;
}
.about img{
	height: 100%;
    width: 100%;
    border-radius: 2%
}
.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #888;
}
.about .desc h3{
	color: #888;
}
.about .desc p{
	line-height:2;
	color:#888;
	font-size: 17px;
}


/*Portfolio*/
.portfolio{
	margin: 4em 0;
    position: relative;	
}
.portfolio h1{
	color:#654321;
	margin: 2em;	
}
.portfolio img{
	 height: 15rem;
	 width: 100%;
	 margin: 1em;

	

}


.contact-form{
	margin: 6em 0;
	position: relative;		
}

.contact-form h1{
	padding:2em 1px;
	color: #654321; 
}
.contact-form .right{
	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background:  #654321;
	color: #fff;
	border:0;
}
.contact-form .{
	color: #888;
	font-size: 2em;
}
.contact-form .phone{
	color: #888;
	font-size: 1em;
}